<!-- <div class="p-5 m-5 text-center">
  <div class="container">
    <div class="row">
      <div class="card mb-3">
        <img
          class="card-img-top"
          [src]="this.product.image_url"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title d-flex justify-content-between">
            <h5>{{ this.product.name }}</h5>
            <h5>{{ this.product.price | currency }}</h5>
          </div>
          <p class="card-text">{{ this.product.description }}</p>
          <p class="card-text">
            <small class="text-muted">{{ this.product.product_id }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<div class="test text-center">
  <div class="container">
    <div class="row">
      <div class="card mb-3 mt-5">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="this.product.image_url" class="card-img" alt="..." />
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
              <h3 class="card-title">{{ this.product.name }}</h3>
              <h5>{{ this.product.price | currency }}</h5>
              <p class="card-text">
                {{ this.product.description }}
              </p>
              <p class="card-text">{{ this.product.product_id }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
